@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Berkshire+Swash&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

/*--------------------------------------------NAVBAR--------------------------------------------*/

nav {
    background-color: white;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #dc3545;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

label.logo span {
    color: black;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #dc3545;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*--------------------------------------------SEÇÃO PRINCIPAL--------------------------------------------*/

.section-principal {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(255,255,255,1) 100%);
    height: 450px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.div-titles { 
    display: flex;
    justify-content: center;
    color: white;
    gap: 50px;
}

.titles h1 {
    font-size: 3rem;
}

.titles h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.titles p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
}

.button-principal a {
    background-color: #00ff22;
    padding: 15px 35px 15px;
    border-radius: 5px;
    color: black;
    transition: .5s;
}

.button-principal a:hover {
    background-color: #00af17;
}

.img-carro {
    margin-top: 100px;
}

/*--------------------------------------------SEÇÃO VIDEO--------------------------------------------*/

.section-video {
    width: 100%;
    height: 480px;
}

.section-video div h1 {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

.publi-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.publi-descricao {
    text-align: left;
    max-width: 560px;
}

.publi-descricao h2 {
    font-size: 2rem;
    font-style: italic;
    padding: 10px;
}

.publi-descricao p {
    font-size: 20px;
    text-align: justify;
}
.publi-descricao ul{
    padding: 10px;
}

.publi-descricao ul li {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    list-style: disc;
}

.video-publi iframe {
    width: 560px;
    height: 315px;
}

/*--------------------------------------------SEÇÃO SERVIÇOS--------------------------------------------*/

.section-servicos {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(255,255,255,1) 100%);
    color: white;
    height: 450px;
}

.section-servicos h1{
    text-align: center;
    font-size: 3rem;
    padding: 25px;
}

.itens-servicos {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.item {
    color: white;
    text-align: center;
}

.button-servico {
    text-align: center;
    margin-top: 55px;
}

.button-servico a{
    background-color: #00ff22;
    padding: 15px 35px 15px;
    border-radius: 5px;
    color: black;
    transition: .5s;
}

.button-servico a:hover {
    background-color: #00af17;
}

/*--------------------------------------------MEDIA--------------------------------------------*/

/*---------------------1080----------------------*/

@media (max-width: 1080px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .section-principal {
        height: 450px;
    }
    .section-video {
        height: auto;
    }
}

@media (max-width: 1024px){
    .section-principal {
        height: 530px;
    }
}

/*-------------------------------------------*/

/*---------------------952----------------------*/

@media (max-width: 952px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 14px;
    }
     .section-principal {
        height: 520px;
    }
}

/*-------------------------------------------*/

/*---------------------858----------------------*/

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        transition: .5s;
    }
    .checkbtn:hover {
        color: #dc3545;

    }
    nav ul li a {
        color: white;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        transition: .5s;
    }

    nav ul li a:hover {
        color: #dc3545;
    }
    #check:checked ~ ul {
        left: 0;
    }

    .publi-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .publi-descricao {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .publi-descricao ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}

/*-------------------------------------------*/

/*---------------------768----------------------*/

@media (max-width: 768px){
    .div-titles {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .section-principal {
        height: 650px;
    }
    .img-carro img {
        width: 300px;      
     }
     .img-carro {
        margin-top: 0px;
        margin-bottom: 50px;  
    }

}

/*-------------------------------------------*/

/*---------------------580----------------------*/

@media (max-width: 580px){
    .section-principal {
        height: 720px;
    }

    .section-servicos {
        height: 650px;
    }

    .itens-servicos {
        gap: 0;
        flex-direction: column;
    }
}

@media (max-width: 560px){
    .video-publi iframe {
        width: 452px;
        height: 250px;
    }
}

/*-------------------------------------------*/

/*---------------------425----------------------*/

@media (max-width: 425px){
    label.logo{
        font-size: 15px;
        padding-left: 50px;
    }
    .section-principal {
        height: 730px;
    }

    .video-publi iframe {
        width: 380px;
        height: 220px;
    }

    .section-video div h1 {
        font-size: 30px;
    }


    .section-servicos {
        height: 700px;
    }
    .publi-descricao h2 {
        font-size: 20px;
        text-align: center;
        margin-top: -50px;
    }
    .publi-descricao p {
        padding: 5px;
        font-size: 15px;
    }
    .publi-descricao ul li {
        font-size: 15px;
    }
    .section-servicos h1 {
        font-size: 40px;
    }

}

/*-------------------------------------------*/

/*---------------------375----------------------*/

@media (max-width: 375px){
    label.logo{
        font-size: 10px;
        padding-left: 50px;
    }

    .section-principal {
        height: 770px;
    }

    .video-publi iframe {
        width: 370px;
        height: 230px;
        margin-bottom: -50px;
    }

    .section-video div h1 {
        font-size: 25px;
    }
    
    
    .publi-descricao p {
        font-size: 15px;
    }
    .publi-descricao ul li {
        font-size: 13px;
    }
}

/*-------------------------------------------*/

/*---------------------320----------------------*/

@media (max-width: 320px){
    label.logo{
        font-size: 8px;
        padding-left: 50px;
    }

    .section-principal {
        height: 570px;
    }

    .titles h1 {
        font-size: 2rem;
    }
    
    .titles h2 {
        font-size: 1rem;
    }
    
    .titles p {
        font-size: 15px;
    }
    
    .button a {
        padding: 1rem 2rem 1rem 2rem;
    }

    .video-publi iframe {
        width: 310px;
        height: 190px;
    }

}

/*-------------------------------------------*/